@import url('https://fonts.cdnfonts.com/css/myriad-pro');

$background: #F8F7F7;
$blue: #172539;

* {
  font-family: 'Myriad Pro', sans-serif;
  letter-spacing: 1px;
}

body {
  min-height: 100vh;
  font-size: 16px;
  background-image:
    radial-gradient(circle at 80% 20%, #E1213080, #E1213080 5%, transparent 51px),
    radial-gradient(circle at 0 35%, #F4E94D80, #F4E94D80 10%, transparent 51px),
    radial-gradient(circle at 100% 45%, #63B33580, #63B33580 5%, transparent 51px),
    radial-gradient(circle at 5% 65%, #C7C6C680, #C7C6C680 10%, transparent 51px),
    radial-gradient(circle at 85% 60%, #C7C6C680, #C7C6C680 5%, transparent 51px),
    radial-gradient(circle at 60% 70%, #C7C6C680, #C7C6C680 5%, transparent 51px),
    url('/public/asset/svetofor/images/bg.png')
}

.top-line {
  background: $background;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-bottom: -50px;
  font-size: 2rem;
    a {
      color: $blue;
      &:hover {
        color: blue;
      }
    }
}

nav {
  color: white;
  .name {
    font-size: 2rem;
  }
  &.navbar {
    background: $blue;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    border-radius: 50px;
    padding: 0 30px;
  }

  #navbarNav {
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    box-sizing: border-box;
    .name {
      letter-spacing: 3px;
    }
    a {
      color: white;
      letter-spacing: 2px;
      font-size: 2rem;
      &:hover {
        transform: scale(1.1)
      }
    }
  }
}

.carousel-inner {
  //width: 80%;
  margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.card {
  img {
    height: 200px;
    object-fit: contain;
  }
  .card-body {
    background: $blue;
    color: white;
  }
  border-radius: 15px;
  overflow: hidden;
}

.card-link a {
  letter-spacing: 2px;
  color: $blue;
  text-decoration: none;
  font-size: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}

.card-text {
  font-size: 1.2rem;
}

.banner {
  margin: 100px auto;
  width: 80%;
  overflow: hidden;
  border-radius: 50px;
  img {
    width: 100%;
  }
}

.home-title {
  height: 68px;
  position: relative;
  &:before,
  &:after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $blue;
    position: absolute;
  }
  &:before {
    left: -70px;
  }
  &:after {
    right: -70px;
  }
}

.appeal {
  .text {
    font-size: 1.5rem;
  }
}

.map {
  .hint {
    background: $blue;
    color: white;
    padding: 30px 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 30%;
  }
  .how-to-find {
    width: 100%;
    span {
      background: $blue;
      color: white;
      padding: 10px 25px;
      border-radius: 50px;
    }
  }
}

#map {
  width: 100%;
  height: 500px;
}

footer {
  background: $background;
  div {
    font-size: 1.2rem;
  }
  .contact-item {
    a {
      color: $blue
    }
  }
}

.social-links {
  &.color {
    .fa-whatsapp {
      color: green;
      &:hover {
        color: darkolivegreen;
      }
    }

    .fa-odnoklassniki {
      color: darkorange;
      &:hover {
        color: orange;
      }
    }

    .fa-instagram {
      color: #833ab4;
      &:hover {
        color: violet;
      }
    }
  }
}


.contact-info {
  .content {
    background: $background;
    border-radius: 50px;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.27);
    overflow: hidden;
    .right {
      font-size: 2rem;
      a {
        text-decoration: none;
        &.contact-item {
          color: $blue;
        }
      }
    }
    .left {
      flex: 1;
    }
    .right {
      flex: 1;
    }
  }
}

.page-title {
  display: flex;
  justify-content: center;
  span {
    padding: 10px 20px;
    font-size: 2.5rem;
    color: white;
    border-radius: 50px;
    background: $blue;
  }
}

.about {
  .text {
    font-size: 1.5rem;
  }
  li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .about-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 220px;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    img {
      width: 100%;
    }
  }
}

.more {
  padding: 10px 30px;
  font-size: 2rem;
  color: white;
  border-radius: 50px;
  background: $blue;
  cursor: pointer;
  &:hover {
    background: blue;
  }
}

.single-post {
  .new-title {
    display: flex;
    justify-content: center;
    & > div {
      padding: 10px 60px;
      font-size: 3rem;
      color: white;
      border-radius: 50px;
      background: $blue;
    }
  }
  .text {
    font-size: 1.5rem;
  }
}

.mob-header {
  background: $blue;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  .mob-nav {
    background: $blue;
    transition-duration: .5s;
    transition: right 1s;
    ul a {
      min-width: 200px;
      border-bottom: 1px solid white;
    }
  }
}

@media (max-width: 900px) {
  body {
    font-size: 24px;
  }
  .about .about-img {
    position: static;
    width: 100%;
  }
  .contact-info .content {
    flex-direction: column;
  }
  .page-title {
    span {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 8px;
  }
}