@import url('https://fonts.cdnfonts.com/css/myriad-pro');

$background: #F8F7F7;
$main: #E07326;

* {
  font-family: 'Myriad Pro', sans-serif;
  letter-spacing: 1px;
}

body {
  min-height: 100vh;
  font-size: 16px;
}

.top-line {
  font-size: 1.5rem;
  margin-bottom: 20px;
  .wrap {
    padding: 10px;
    background: $main;
    border-radius: 0 0 35px 35px;
    a {
      color: white;
      &:hover {
        color: lightgray;
      }
    }
    .separator {
      color: white;
    }
  }
}

nav {
  &.navbar {
    height: 100px;
    box-sizing: border-box;
    display: flex;
    padding: 0 30px;
  }

  #navbarNav {
    box-sizing: border-box;
    padding-left: 60px;
    background:
      radial-gradient(circle at 20px 20px, $main, $main 8px, transparent 8px),
      radial-gradient(circle at 30px 45px, $main, $main 13px, transparent 13px);

    a {
      color: $main;
      letter-spacing: 2px;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      &:hover {
        transform: scale(1.1)
      }
    }
  }
}

.carousel-inner {
  //width: 80%;
  margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.card {
  img {
    height: 200px;
    object-fit: contain;
  }
  .card-body {
    background: $main;
    color: white;
  }
  border-radius: 15px;
  overflow: hidden;
}

.card-link a {
  letter-spacing: 2px;
  color: $main;
  text-decoration: none;
  font-size: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}

.card-text {
  font-size: 1.2rem;
}

.banner {
  margin: 100px auto;
  width: 80%;
  overflow: hidden;
  border-radius: 50px;
  img {
    width: 100%;
  }
}

.home-title {
  height: 68px;
  position: relative;
  &:before,
  &:after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $main;
    position: absolute;
  }
  &:before {
    left: -70px;
  }
  &:after {
    right: -70px;
  }
}

.appeal {
  .text {
    font-size: 1.5rem;
  }
}

.map {
  .hint {
    background: $main;
    color: white;
    padding: 30px 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 30%;
  }
  .how-to-find {
    width: 100%;
    span {
      background: $main;
      color: white;
      padding: 10px 25px;
      border-radius: 50px;
    }
  }
}

#map {
  width: 100%;
  height: 500px;
}

footer {
  background: $background;
  div {
    font-size: 1.2rem;
  }
  .contact-item {
    a {
      color: $main
    }
  }
}

.social-links {
  &.color {
    .fa-whatsapp {
      color: green;
      &:hover {
        color: darkolivegreen;
      }
    }

    .fa-odnoklassniki {
      color: darkorange;
      &:hover {
        color: orange;
      }
    }

    .fa-instagram {
      color: #833ab4;
      &:hover {
        color: violet;
      }
    }
  }
}


.contact-info {
  .content {
    background: $background;
    border-radius: 50px;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.27);
    overflow: hidden;
    .right {
      font-size: 2rem;
      a {
        text-decoration: none;
        &.contact-item {
          color: $main;
        }
      }
    }
    .left {
      flex: 1;
    }
    .right {
      flex: 1;
    }
  }
}

.page-title {
  display: flex;
  justify-content: center;
  span {
    padding: 10px 20px;
    font-size: 2.5rem;
    color: white;
    border-radius: 50px;
    background: $main;
  }
}

.about {
  .text {
    font-size: 1.5rem;
  }
  li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .about-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 220px;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    img {
      width: 100%;
    }
  }
}

.more {
  padding: 10px 30px;
  font-size: 2rem;
  color: white;
  border-radius: 50px;
  background: $main;
  cursor: pointer;
  &:hover {
    background: blue;
  }
}

.single-post {
  .new-title {
    display: flex;
    justify-content: center;
    & > div {
      padding: 10px 60px;
      font-size: 3rem;
      color: white;
      border-radius: 50px;
      background: $main;
    }
  }
  .text {
    font-size: 1.5rem;
  }
}

.mob-header {
  background: $main;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  .mob-nav {
    background: $main;
    transition-duration: .5s;
    transition: right 1s;
    ul a {
      min-width: 200px;
      border-bottom: 1px solid white;
    }
  }
}

@media (max-width: 900px) {
  body {
    font-size: 24px;
  }
  .about .about-img {
    position: static;
    width: 100%;
  }
  .contact-info .content {
    flex-direction: column;
  }
  .page-title {
    span {
      font-size: 1.5rem;
    }
  }
  .new-title .small {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 8px;
  }
}